$sizes: (xs: 0px, sm: 768px, md: 992px, lg: 1200px) !default;
$grid-max-columns: 12 !default;
$shadow-light: 0px 1px 3px 0px #A0A0A0 !default;
$shadow-dark: 0px 1px 3px 0px #1B1B1B !default;
$grid-gutter-width: 5vw;
$animate-speed: 0.4s !default;
$animate-speed-fast: 0.1s !default;
